.background-icon,
.frame-child {
  position: absolute;
  top: 276px;
  left: 359px;
  width: 1231.3px;
  height: 350.3px;
}
.frame-child {
  top: 0;
  left: 0;
  border-radius: 17.05px;
  background: linear-gradient(96.14deg, #3a8ef6, #6f3afa);
  width: 267px;
  height: 68px;
}
.diagnostics {
  position: absolute;
  top: 11px;
  left: 37px;
}
.rectangle-parent {
  position: absolute;
  top: 76px;
  left: 1560px;
  width: 253px;
  height: 68px;
  cursor: pointer;
  font-size: var(--font-size-15xl);
  color: var(--color-white);
}
.rectangle-group,
.try-it-out {
  position: absolute;
  top: 11px;
  left: 53px;
}
.rectangle-group {
  top: 2344px;
  left: 833px;
  width: 253px;
  height: 68px;
  cursor: pointer;
  font-size: var(--font-size-15xl);
  color: var(--color-white);
}
.group-child,
.home {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child {
  top: 40.3px;
  left: 2.8px;
  border-top: 2.4px solid var(--color-royalblue-200);
  box-sizing: border-box;
  width: 68.2px;
  height: 2.4px;
  opacity: 0.3;
}
.home-parent {
  width: 73px;
  position: relative;
  height: 41.5px;
}
.nav-menu {
  position: absolute;
  top: 89px;
  left: 1441px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 25.4px;
  color: var(--color-darkslategray);
}
.landing-page-child {
  position: absolute;
  top: 291px;
  left: 130px;
  width: 354px;
  height: 72px;
}
.assistance-in-treatment,
.two-step-solution {
  position: absolute;
  top: 394px;
  left: 131px;
  font-size: var(--font-size-71xl);
  line-height: 105px;
  display: flex;
  color: var(--color-royalblue-100);
  align-items: center;
  width: 823px;
}
.assistance-in-treatment {
  top: 1773px;
  left: 548px;
  text-align: center;
  justify-content: center;
}
.landing-page-item {
  position: absolute;
  top: 1542.5px;
  left: 229.5px;
  width: 353px;
  height: 387.5px;
}
.landing-page-inner {
  position: absolute;
  top: 1548px;
  left: 1378px;
  width: 359px;
  height: 380px;
}
.pneumonia-identification,
.potential-diseases-based,
.tumor-detection {
  position: absolute;
  top: 1168px;
  left: 128px;
  font-size: var(--font-size-21xl);
  line-height: 70px;
  display: flex;
  color: var(--color-black);
  align-items: center;
  width: 506px;
}
.pneumonia-identification,
.tumor-detection {
  top: 1203px;
  left: 822px;
  width: 521px;
}
.tumor-detection {
  left: 1537px;
  width: 345px;
}
.based-on-your,
.we-provide-you,
.you-can-describe {
  position: absolute;
  left: 131px;
  display: flex;
  align-items: center;
}
.based-on-your {
  top: 699px;
  line-height: 43px;
  width: 762px;
}
.we-provide-you,
.you-can-describe {
  top: 1310px;
  width: 550px;
}
.we-provide-you {
  top: 2128px;
  left: 576px;
  text-align: center;
  justify-content: center;
  width: 768px;
}
.in-this-feature,
.we-can-identify {
  position: absolute;
  top: 1310px;
  left: 822px;
  display: flex;
  align-items: center;
  width: 556px;
}
.we-can-identify {
  left: 1537px;
  width: 304px;
}
.kisspng-physician-diabetes-mel-icon {
  position: absolute;
  top: 138px;
  left: 719px;
  width: 1285.4px;
  height: 965px;
  object-fit: contain;
}
.features-we-provide {
  position: absolute;
  top: 1065px;
  left: 128px;
  font-size: var(--font-size-15xl);
  letter-spacing: 0.23em;
  background: linear-gradient(96.14deg, #3a8ef6, #6f3afa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ellipse-div {
  top: 1513px;
  left: 1671.4px;
  width: 81px;
  height: 81px;
  display: none;
}
.ellipse-div,
.group-item,
.landing-page-child1 {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(96.14deg, #3a8ef6, #6f3afa);
}
.landing-page-child1 {
  top: 1513px;
  left: 1562px;
  width: 81px;
  height: 81px;
  display: none;
}
.group-item {
  top: 0;
  left: 0;
  box-shadow: 0 5.4px 25.66px rgba(22, 120, 242, 0.2),
    0 5.4px 5.4px rgba(0, 0, 0, 0.12) inset;
  width: 32.4px;
  height: 32.4px;
}
.group-inner,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 5.7px;
  border-radius: 1.06px;
  background-color: var(--color-white);
  width: 7px;
  height: 18.3px;
}
.rectangle-div {
  top: 5.6px;
  left: 18.3px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.ellipse-parent,
.rectangle-container {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 18.3px;
  height: 18.3px;
}
.ellipse-parent {
  top: 0;
  left: 278px;
  width: 32.4px;
  height: 32.4px;
}
.find-cure {
  position: absolute;
  top: 11.3px;
  left: 0;
  background: linear-gradient(96.14deg, #3a8ef6, #6f3afa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.group-parent {
  position: absolute;
  top: 84px;
  left: 248px;
  width: 310.4px;
  height: 70.3px;
  font-size: var(--font-size-24xl-2);
}
.component-1-icon,
.component-2-icon {
  position: absolute;
  top: 1501px;
  left: 1550px;
  width: 105.8px;
  height: 105.8px;
  overflow: hidden;
  object-fit: contain;
  display: none;
}
.component-2-icon {
  left: 1659px;
}
.f-1-icon {
  position: absolute;
  top: 50px;
  left: 69px;
  border-radius: var(--br-278xl);
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.landing-page {
  width: 100%;
  position: relative;
  box-shadow: 9px 17px 11px rgba(255, 255, 255, 0.35);
  background-color: var(--color-ghostwhite);
  height: 3083px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray);
  font-family: var(--font-alef);
}
